@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131722;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72768f;
  border-radius: 5px;
}

/* input type="number"에서 화살표 지우기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* src/index.css 또는 src/globals.css */
@font-face {
  font-family: "Roboto-Medium";
  src: url("../public/Roboto/Roboto-Medium.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Medium";
  src: url("../public/Open_Sans/static/OpenSans-Medium.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "OpenSans-Medium";
}
